<div class="container">
<button (click)="Nuevo()" class="btn btn-info" style="margin-left: 10px;">Nuevo</button>
<hr>
</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Libros</h3>
        </div>
        <div class="card-body">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Buscar">
          <hr>
            <table id="books" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th width="10%">ID</th>
                        <th width="30%">NOMBRE</th>
                        <th width="30%">AUTOR</th>
                        <th width="30%">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books | filter: searchText | paginate: { itemsPerPage: 5, currentPage: p }">
                        <td>{{book.id}}</td>
                        <td>{{book.book_name}}</td>
                        <td>{{book.author_name}}</td>
                        <td>
                            <a [routerLink]="['/edit/', book.id]" class="btn btn-warning">Editar</a>
                            <swal
                            #deleteSwal
                            title="¿Borrar {{ book.book_name }}?"
                            text="¿Está seguro que desea borrar este libro?"
                            type="question"
                            [showCancelButton]="true"
                            [focusCancel]="true"
                            (confirm)="deleteBook(book.id)">
                            </swal>
                            <button [swal]="deleteSwal" class="btn btn-danger" style="margin-left:10px; ">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
          <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        </div>
    </div>
</div>

