<div class="container">
    <button (click)="NewMusic()" class="btn btn-info" style="margin-left: 10px;">Nuevo</button>
    <hr>
</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Musica</h3>
        </div>
        <div class="card-body">
          <div class="alert alert-success" [hidden]="!message" role="alert">
            {{msgText}}
          </div>
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Buscar">
          <hr>
          <div *ngIf="music.length > 0; else musicEmpty">
            <table id="books" class="table table-striped table-hover">
              <thead>
              <tr>
                <th width="10%">ID</th>
                <th width="30%">ALBUM</th>
                <th width="30%">ARTISTA</th>
                <th width="30%">ACCIONES</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let mus of music | filter: searchText | paginate: { itemsPerPage: 5, currentPage: p }">
                <td>{{mus.id}}</td>
                <td>{{mus.album_name}}</td>
                <td>{{mus.artist_name}}</td>
                <td>
                  <a [routerLink]="['/music/edit/', mus.id]" class="btn btn-warning">Editar</a>
                  <swal
                      #deleteSwal
                      title="¿Borrar {{ mus.album_name }}?"
                      text="¿Está seguro que desea borrar este album?"
                      type="question"
                      [showCancelButton]="true"
                      [focusCancel]="true"
                      (confirm)="deleteMusic(mus.id)">
                  </swal>
                  <button [swal]="deleteSwal" class="btn btn-danger" style="margin-left:10px; ">Eliminar</button>
                </td>
              </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
          </div>
          <ng-template #musicEmpty>
            <div class="alert alert-warning" role="alert">
              No existen datos
            </div>
          </ng-template>
        </div>
    </div>
</div>
