<div class="container">
    <form [formGroup]="bookForm" (ngSubmit)="addBook()">
        <div class="form-group">
          <label class="col-md-4">Nombre: </label>
          <input type="text" class="form-control" formControlName="book_name" />
        </div>
        <div class="form-group">
            <label class="col-md-4">Autor: </label>
            <input type="text" class="form-control" formControlName="author_name" />
          </div>
          <div class="form-group">
            <label class="col-md-4">Codigo ISBN: </label>
            <input type="text" class="form-control" formControlName="isbn" />
          </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary col-md-4" [disabled]="bookForm.invalid">Ingresar</button>
          <a [routerLink]="['/listar']">
            <button type="submit" class="btn btn-primary col-md-4 ml-1">Atras</button>
          </a>
        </div>
      </form>

</div>