<div class="container">
    <form [formGroup]="musicForm" (ngSubmit)="addMusic()">
        <div class="form-group">
          <label class="col-md-4">Album: </label>
          <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && musicForm.controls.album_name.errors }" formControlName="album_name" />
          <div *ngIf="submitted==true && musicForm.controls.album_name.errors" class="invalid-feedback">
            <div *ngIf="musicForm.controls.album_name.errors.required">Campo requerido</div>
          </div>
        </div>
        <div class="form-group">
            <label class="col-md-4">Artista: </label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && musicForm.controls.artist_name.errors }" formControlName="artist_name" />
            <div *ngIf="submitted==true && musicForm.controls.artist_name.errors" class="invalid-feedback">
              <div *ngIf="musicForm.controls.artist_name.errors.required">Campo requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Genero: </label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && musicForm.controls.genre.errors }" formControlName="genre" />
            <div *ngIf="submitted==true && musicForm.controls.genre.errors" class="invalid-feedback">
              <div *ngIf="musicForm.controls.genre.errors.required">Campo requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Sello discografico: </label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && musicForm.controls.label.errors }" formControlName="label" />
            <div *ngIf="submitted==true && musicForm.controls.label.errors" class="invalid-feedback">
              <div *ngIf="musicForm.controls.label.errors.required">Campo requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Precio: </label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && musicForm.controls.prize.errors }" formControlName="prize" />
            <div *ngIf="submitted==true && musicForm.controls.prize.errors" class="invalid-feedback">
              <div *ngIf="musicForm.controls.prize.errors.required">Campo requerido</div>
              <div *ngIf="musicForm.controls.prize.errors.pattern">Debe contener solo números</div>
              <div *ngIf="musicForm.controls.prize.errors.minlength">Número de minimo cuatro dígitos</div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4">Stock: </label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && musicForm.controls.stock.errors }"  formControlName="stock" />
            <div *ngIf="submitted==true && musicForm.controls.stock.errors" class="invalid-feedback">
              <div *ngIf="musicForm.controls.stock.errors.required">Campo requerido</div>
              <div *ngIf="musicForm.controls.stock.errors.pattern">Debe contener solo números</div>
            </div>
          </div>
            <div class="custom-file">
              <input #fileInput type="file" name="image" class="custom-file-input" id="customFile" (change)="onFileChanged($event)">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary col-md-4">Ingresar</button>
          <a [routerLink]="['/music']">
            <button type="submit" class="btn btn-primary col-md-4 ml-1">Atras</button>
          </a>
        </div>
      </form>

</div>
